# -------------- Default Environment Variables --------------

SIMON_SOURCE=rtsp://host.docker.internal:8554/cam
SIMON_MODEL=models/yolo11s.pt
SIMON_DEVICE=auto
TZ=America/Los_Angeles
SIMON_MAX_FOOTAGE_GB=10
SIMON_FOOTAGE_TTL_HOURS=24
SIMON_FOOTAGE_SWEEP_MINS=1
SIMON_LOG_LEVEL=INFO

# -------------- Telegram --------------
TELEGRAM_BOT_TOKEN=<YOUR_TOKEN_HERE>
CHAT_ID=<YOUR_ID_HERE>
